#container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #dddddd;
}

#container #leftPanel{
  width: 20%;
  background-color: #6D74D2;
  text-align: center;
  font-weight: bolder;
  color: white;
}

#rightPanel{
  padding: 20px;
}

.cardOuter{
  padding: 50px;
  border-color: #5463FF;
  background-color: white;
  border-width: 15px;
  border-style: solid;
  border-radius: 60px;
  margin-bottom: 10%;
  text-align: right;
  margin-left: 10%;
  margin-right: 10%;
}

.cardInner{
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 40px;
}

.cardInner h1{
  font-weight: bolder;
}

.cardInner .question_description{
  margin: 30px;
}

.mc_choice{
  margin: 5px;
  padding: 5px;
  background-color: #2776F6;
  color: white;
  border: none;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.mc_choice:hover{
  background-color: #629BF6;
}

.term_container .term_answer{
  background-color: #dddddd;
  padding: 5px;
  border-radius: 10px;
  border-color: white;
  transition-duration: 0.3s;
}

.term_container .term_answer:focus{
  outline: none;
  background-color: #eeeeee;
}

.responseButton{
  border-radius: 10px;
  background-color: #f48828;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-top: 20px;
  border-color: #6A8FF6;
  font-weight: bolder;
  box-shadow: 3px 3px #27C9F6;
  transition-duration: 0.3s;
}

.responseButton:hover{
  background-color: #F69C00;
  box-shadow: 3px 3px #275EF6;
  color: black;
}

.pdf_content{
  width: 100%;
  height: 100%;
}

.content{
  width: 100%;
  height: 95%;
  margin-top: 5%;
}

.pageButton{
  position: fixed;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #888888;
  color: white;
  transition-duration: 0.3s;
}

.pageButton:hover{
  background-color: #666666;
}

#nextButton{
  right: 5%;
  bottom: 5%;
}

#prevButton{
  left: 25%;
  bottom: 5%;
}