{% extends "base.html" %}

{% block head %}

  <style>
    .paragraph{
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }

    .aboutus{
      margin-top: 40px;
    }
  </style>

  <script>
    $(function(){
      $("#about_us").addClass("w3-white")
    })
  </script>

{% endblock %}

{% block body %}

<h1 class="w3-center w3-padding-64 instructions">About Us</h1>

  <div class="w3-content paragraph">
    <h5 class="w3-padding-32"> Hello! This project was developed by Lucas K, Pradyumn J, Daniel Y, and Kevin Z, and we are high school students graduating in '24. We chose to program Studyera because we wanted to provide resources for efficient learning of educational materials.

  </div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content paragraph">
      <h5>
       test
      </h5>
  </div>
</div>

<div class="w3-container w3-blue w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">©️2021 FØrnaX Fusion Studios
</h1>
</div>
{% endblock %}