{% extends "base.html" %} 

{% block title %} <title>Learnera: Practice</title> {% endblock %} 

{% block head %}

<style>
	.main {
		margin-top: 50px
	}

  .card{
    transition-duration: 0.3s;
  }

  .card:hover{
    background-color: #fafafa;
  }
</style>

{% endblock %}

{% block body %}
<div class="w3-container main">
  <h1>Create</h1>

  <a href="#" class="w3-button w3-blue w3-margin-right">Create Room</a>
  <a href="#" class="w3-button w3-blue">Create Lesson</a>

  <div class="w3-container">
    <h3>My Packages</h3>
    {% for package in packages %}
      <div class="w3-third" onclick="window.location.assign('/package/{{package.id}}')">
        <div class="w3-card w3-container w3-margin card">
          <h4>{{package.name}}</h4>
          <p>Made by: {{package.made_by.username}}</p>
          <p>{{package.pages | length}} page(s)</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}