{% extends "base.html" %} 

{% block title %} <title>Learnera: Practice</title> {% endblock %} 

{% block head %}

<style>
	.main {
		margin-top: 50px
	}
</style>

{% endblock %}

{% block body %}
<div class="w3-container main">
  <h1>Practice</h1>

  <a href="#" class="w3-button w3-blue w3-margin-right">Create Course</a>
  <a href="#" class="w3-button w3-blue">Create Lesson</a>

  <div class="w3-container w3-margin-top">
    <h3>My Courses</h3>
    <div class="w3-row">
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Course 1</h4>
          <p>Some description</p>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Course 2</h4>
          <p>Some description</p>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Course 3</h4>
          <p>Some description</p>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Course 4</h4>
          <p>Some description</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-container">
    <h3>My Lessons</h3>
    <div class="w3-row">
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Lesson 1</h4>
          <p>Some description</p>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Lesson 2</h4>
          <p>Some description</p>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Lesson 3</h4>
          <p>Some description</p>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-card w3-container w3-margin">
          <h4>Lesson 4</h4>
          <p>Some description</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}