{% extends "base.html" %}

{% block body %}
<!-- code goes here -->



<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h3 class="w3-padding-32">Hello! Welcome to Learnera! On this platform users can create lessons using our wide array of tools. Lessons are public and can viewed by anyone, however only the owner can edit their own lessons. There are 4 tools available for creating lessons, these include term/definitions, fill in the blanks, multiple choice, and math format. Upon clicking 'Access Tools' you will be able to select which tool you would like to use for your purposes.
      </h3>

    </div>

  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">

    <div class="w3-twothird">
      <h3>
       Lessons can be combined to create courses.
      </h3>

    </div>
  </div>
</div>

<div class="w3-container w3-blue w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">©️2021 FØrnaX Fusion Studios
</h1>
</div>
{% endblock %}