{% extends "base.html" %}

{% block body %}
<!-- code goes here -->
<div id="instructions" hidden>
<h1>
Instructions
</h1>  

<div id="instructionstext">
 <h3> 
 Hello! Welcome to Learnera. Users can create lessons, each lesson is made up of several questions. Anyone can view lessons, however only the owner can edit their own lessons. There are 4 tools available for creating lessons, these include term/definitions, fill in the blanks, multiple choice, and math. Lessons can be combined to make a course, courses can be used to quiz oneself on multiple relating lessons at the same time.
 </h3>
 </div>
</div>

<div class="w3-container w3-blue w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">An investment in knowledge pays the best interest.</h1>
</div>
{% endblock %}