<!DOCTYPE html>

<html lang="en-CA">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- probably should put this in index.css later -->
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    .login {margin-top:100px}
    .login-card {width:max(500px, 80%);margin:auto;padding-bottom:20px;}
    </style>
    <title>Login</title>
  </head>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-hover-blue"><img height="35" src="{{ url_for('static', filename="/index/learnera.png") }}"></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Instructions</a>
      </div>

      <!-- Navigation bar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">About Us</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Instructions</a>
      </div>
    </div>

    <div class="w3-container login">
      <div class="w3-card w3-container login-card">
        <h1>Log In</h1>
        <form class="w3-container w3-margin-bottom">
          <label>Username</label>
          <input class="w3-input" type="text">
          <label>Password</label>
          <input class="w3-input" type="password">
          <br>
          <input type="submit" value="Log In" class="w3-button w3-blue">
        </form>
        Don't have an account? <a href="#">Sign up</a>
      </div>
    </div>
    <script>
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
  </body>
</html>