{% extends "base.html" %}

{% block title %}<title>Practice</title>{% endblock %}

{% block head %}

<script src="static/practice/main.js"></script>

<link rel="stylesheet" href="static/practice/style.css" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
$(function(){
  $.post("/api/question_list", {
    ids: "{{ids}}"
  }, function(data, status){
    questions = JSON.parse(data)
    start()
  })
})
</script>

{% endblock %}

{% block body %}

<table id="container">
  <tr>
    <td id="leftPanel">
      <p id="totalQuestions">15 questions</p>
      <p id="completedQuestions">12 questions done</p>
    </td>
    <td id="questionPanel">
      <div id="cardOuter">
        <div id="cardInner">
          <div id="term_container">
            <h1 class="question_title">Sample Title</h1>
            <p id="question_description">The term is super epic, what is the term for this epic term?</p>
            <input type="text" id="term_answer" placeholder="Enter the term: "></input>
          </div>
        </div>
      </div>
      <button id="nextButton">Next</button>
    </td>
  </tr>
</table>

<template id="mc_template">
  <div id="mc_container">
    <h1 class="question_title">Sample Title</h1>
    <p id="question_description">The MC is a very cool person, who is the mc like?</p>
    <div id="choice_list">
      <button class="mc_choice">
        Sample Choice
      </button>
      <button class="mc_choice">
        Sample Choice
      </button>
      <button class="mc_choice">
        Sample Choice
      </button>
    </div>
  </div>
</template>

<template id="mc_choice">
  <button class="mc_choice">
    Sample Choice
  </button>
</template>

<template id="term_template">
  <div id="term_container">
    <h1 class="question_title">Sample Title</h1>
    <p id="question_description">The term is super epic, what is the term for this epic term?</p>
    <input type="text" placeholder="Enter the term: "></input>
  </div>
</template>

{% endblock %}