{% extends "base.html" %} 

{% block title %}
<title>Sign Up</title>
{% endblock %} 

{% block head %}
<style>
	.login {
		margin-top: 100px
	}

	.login-card {
		width: max(500px, 80%);
		margin: auto;
		padding-bottom: 20px;
	}
</style>
{% endblock %} 

{% block body %}
<div class="w3-container login">
	<div class="w3-card w3-container login-card">
		<h1>Sign Up</h1>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
		<form class="w3-container w3-margin-bottom" action="/api/create/user" method="post">
			<label for="username">Username</label>
        <input class="w3-input" type="text" id="username" name="username">
        <label for="password">Password</label>
        <input class="w3-input" type="password" id="password" name="password">
        <br>
        <input type="submit" value="Sign Up" class="w3-button w3-blue">
    </form>
    Already have an account? <a href="/login">Log in</a>
  </div>
</div>
{% endblock %}