{% extends "base.html" %} 

{% block title %}
<title>Search Results</title>
{% endblock %}

{% block head %}
<style>
  .main {margin-top: 50px;}

  .card{
    transition-duration: 0.3s;
  }

  .card:hover{
    text-shadow: 2px 2px 2px grey;
  }
</style>
{% endblock %}

{% block body %}
<div class="w3-container main">
  <h1>Search</h1>
  <p>Results for your search "{{query}}"</p>
  {% for result in results %}
  <div class="w3-card w3-container w3-margin-bottom {{'w3-pale-blue' if type_(result).__name__ == 'Package' else 'w3-pale-green'}} card" onclick="window.location.assign('/package/{{result.id}}')">
    <h3>{{result.name}}</h3>
    <p>{{type_(result).__name__}} made by <strong>{{result.made_by}}</strong></p>
  </div>
  {% endfor %}
</div>
{% endblock %}