{% extends "base.html" %} 

{% block title %}
<title>Search Results</title>
{% endblock %}

{% block head %}
<style>
  .main {margin-top: 50px;}
</style>
{% endblock %}

{% block body %}
<div class="w3-container main">
  <h1>Search</h1>
  <p>Results for your search "science"</p>
  <div class="w3-card w3-container w3-margin-bottom">
    <h3>Course 3</h3>
    <p>Some description</p>
  </div>
  <div class="w3-card w3-container w3-margin-bottom">
    <h3>Course 10</h3>
    <p>Some description</p>
  </div>
  <div class="w3-card w3-container w3-margin-bottom">
    <h3>Lesson 1</h3>
    <p>Some description</p>
  </div>
</div>
{% endblock %}